<p>e-form works!</p>
<form [formGroup]="nameForm" (ngSubmit)="print()">
    <input formControlName="name" required /> formGroupName="personalData"
    <div *ngIf="nameForm.controls.name.errors != null && nameForm.controls.name.touched">error
        <div *ngIf="nameForm.controls.name.invalid" class="alert alert-danger">name is invalid.</div>
        <div *ngIf="nameForm.controls.name.dirty" class="alert alert-danger">Email address is dirty.</div>
        <div *ngIf="nameForm.controls.name.errors?.pattern" class="alert alert-danger">Email address is pattern.</div>
        <div *ngIf="nameForm.errors?.pattern">
            User name not valid.
        </div>
    </div>

    <input formControlName="age" />
    <input formControlName="color" /> <input formControlName="mobile" />
    <input formControlName="email" /> <input formControlName="mobile" />

    <div formGroupName="personalData" novalidate>
        <input formControlName="email" /> <input formControlName="mobile" />
        <select formControlName="country">
            <option value="one">one</option>
            <option value="two">one</option>
            <option value="three">one</option>
            <option value="four">one</option>
        </select>

    </div>
    <div>
        <input type="radio" formControlName="radio" value="one" name="radio">
        <input type="radio" formControlName="radio" value="two" name="radio">
    </div>
    <div *ngFor="let data of emails">
        <input type="checkbox" (change)="onChange(data.email, $event.target.checked)"> {{data.email}}<br>
    </div>
    <button [disabled]="!nameForm.valid">ok</button>
</form>
