<ul>
    <li>ng new [project-name]</li>
    <li style="color: red;">component</li>
    <li>ng generate component component-name </li>
    <li>ng g c component-name</li>
    <li style="color: red;">directive</li>
    <li>ng generate directive directive-name</li>
    <li>ng g d directive-name</li>
    <li style="color: red;">class</li>
    <li>ng generate class class name</li>
    <li>ng g cls class name</li>

    <li style="color: red;">guard</li>
    <li>ng generate guard guard-name</li>
    <li>ng g g guard-name</li>

    <li style="color: red;">interface</li>
    <li>ng generate interface interface-name</li>
    <li>ng g i interface-name</li>

    <li style="color: red;">service</li>
    <li>ng generate service service-name</li>
    <li>ng g s service-name</li>

    <li style="color: red;">Pipe</li>
    <li>ng generate Pipe Pipe-name</li>
    <li>ng g p Pipe-name</li>

    <li style="color: red;">module</li>
    <li>ng generate module module-name --routing</li>
    <li>ng g m module-name --routing</li>
    <li style="color: red;">interceptor</li>
    <li>ng g interceptor error</li>
    <li>ng g interceptor interceptor-name</li>

</ul>
<a [routerLink]="['/routePath',{title:'dd',id:'10'}]"></a>