<p>cards works!</p>
<span class="avatar avatar-blue">NG</span>
<span class="avatar avatar-azure">AM</span>
<span class="avatar avatar-indigo">RB</span>
<span class="avatar avatar-purple">PR</span>
<span class="avatar avatar-pink">WH</span>
<span class="avatar avatar-red">MR</span>
<span class="avatar avatar-orange">DB</span>
<span class="avatar avatar-yellow">PP</span>
<span class="avatar avatar-lime">JR</span>
<span class="avatar avatar-green">RB</span>
<span class="avatar avatar-teal">KH</span>
<span class="avatar avatar-cyan">BK</span>
<span class="avatar avatar-gray">CA</span>
<span class="avatar avatar-gray-dark">CW</span>
<span class="avatar">RB</span>
<span class="avatar">KH</span>
<span class="avatar">BK</span>
<span class="avatar avatar-placeholder"></span>
<span class="avatar"><i class="fe fe-more-horizontal"></i></span>