<p>avatar works!</p>
<h3>Badges</h3>
<div class="row">
    <span class="chip primary">
		Primary Chip 
	</span>
    <span class="chip secondary">
		Secondary CSS
	</span>
    <span class="chip warning">
		Warning CSS
	</span>
    <span class="chip danger">
		Danger CSS
	</span>
    <span class="chip info">
		Info CSS
	</span>
</div>

<div>
    <div class="avatar avatar-xl">
        <img alt="avatar" src="assets/img/90x90.jpg" class="rounded-circle" />
    </div>
    <div class="avatar avatar-lg">
        <img alt="avatar" src="assets/img/90x90.jpg" class="rounded-circle" />
    </div>
    <div class="avatar">
        <img alt="avatar" src="assets/img/90x90.jpg" class="rounded-circle" />
    </div>
    <div class="avatar avatar-sm">
        <img alt="avatar" src="assets/img/90x90.jpg" class="rounded-circle" />
    </div>
</div>

<div>
    <div class="avatar avatar-xl avatar-indicators avatar-offline">
        <img alt="avatar" src="assets/img/90x90.jpg" class="rounded-circle" />
    </div>
    <div class="avatar avatar-lg avatar-indicators avatar-online">
        <img alt="avatar" src="assets/img/90x90.jpg" class="rounded-circle" />
    </div>
    <div class="avatar avatar-indicators avatar-offline">
        <img alt="avatar" src="assets/img/90x90.jpg" class="rounded-circle" />
    </div>
    <div class="avatar avatar-sm avatar-indicators avatar-online">
        <img alt="avatar" src="assets/img/90x90.jpg" class="rounded-circle" />
    </div>
</div>

<div>
    <div class="avatar--group">
        <div class="avatar translateX-axis">
            <img alt="avatar" src="assets/img/90x90.jpg" class="rounded-circle" />
        </div>
        <div class="avatar translateX-axis">
            <img alt="avatar" src="assets/img/90x90.jpg" class="rounded-circle" />
        </div>
        <div class="avatar translateX-axis">
            <img alt="avatar" src="assets/img/90x90.jpg" class="rounded-circle" />
        </div>

    </div>
</div>

<!--time line basic -->
<div>
    <div class="mt-container mx-auto">
        <div class="timeline-line">

            <div class="item-timeline">
                <p class="t-time">10:00</p>
                <div class="t-dot t-dot-primary">
                </div>
                <div class="t-text">
                    <p>Updated Server Logs</p>
                    <p class="t-meta-time">25 mins ago</p>
                </div>
            </div>

            <div class="item-timeline">
                <p class="t-time">12:45</p>
                <div class="t-dot t-dot-success">
                </div>
                <div class="t-text">
                    <p>Backup Files EOD</p>
                    <p class="t-meta-time">2 hrs ago</p>
                </div>
            </div>

            <div class="item-timeline">
                <p class="t-time">14:00</p>
                <div class="t-dot t-dot-warning">
                </div>
                <div class="t-text">
                    <p>Send Mail to HR and Admin</p>
                    <p class="t-meta-time">4 hrs ago</p>
                </div>
            </div>

            <div class="item-timeline">
                <p class="t-time">16:00</p>
                <div class="t-dot t-dot-info">
                </div>
                <div class="t-text">
                    <p>Conference call with Marketing Manager.</p>
                    <p class="t-meta-time">6 hrs ago</p>
                </div>
            </div>

            <div class="item-timeline">
                <p class="t-time">17:00</p>
                <div class="t-dot t-dot-danger">
                </div>
                <div class="t-text">
                    <p>Collected documents from <a href="javascript:void(0);">Sara</a></p>
                    <p class="t-meta-time">9 hrs ago</p>
                </div>
            </div>

            <div class="item-timeline">
                <p class="t-time">16:00</p>
                <div class="t-dot t-dot-dark">
                </div>
                <div class="t-text">
                    <p>Server rebooted successfully</p>
                    <p class="t-meta-time">8 hrs ago</p>
                </div>
            </div>

        </div>
    </div>
</div>

<!---with image-->
<div>

</div>